<div class="mainContainer">
  <img class="backgroundImage" src="assets/resources/login-background.jpg">
  <div class="loginCardContainer" [ngClass]="{flipped: isFlipped}">
    <div class="front">
      <h2>LOGIN</h2>
      <form id="log" style="display: flex;">
        <div id="firstColumn">
          <label for="loginuser" style="margin: 0 5px;">Email:</label>
          <input type="email" style="margin: 0 5px;" [(ngModel)]="login.email" name="loginMail">
          <label for="loginPass" style="margin: 0 5px; margin-top: 10%;">Password:</label>
          <input type="password" style="margin: 0 5px; margin-top: 3%;" [(ngModel)]="login.password" name="loginPassword">
        </div>
      </form>
      <button mat-flat-button [disabled]="!isLoginFormValid()" style="margin-top: 12%; color: rgb(3, 90, 3);" (click)="logIn()">Accedi</button>
      <button mat-flat-button style="margin-top: 12%;" (click)="flipCard()">Passa alla registrazione</button>
    </div>
    <div class="back">
      <h2>REGISTRAZIONE</h2>
      <form id="registration" style="display: flex;">
        <div id="secondColumn">
          <label>Username:</label>
          <input type="text" [(ngModel)]="newUser.nickName" name="registerNickName">
          <label  style="margin: 0 5px;margin-top: 10%;">Email:</label>
          <input type="email" style="margin: 0 5px;" [(ngModel)]="newUser.email" name="registerMail">
          <label  style="margin: 0 5px; margin-top: 10%;">Password:</label>
          <input type="password" style="margin: 0 5px; " [(ngModel)]="newUser.password" name="registerPassword">
          <label  style="margin: 0 5px; margin-top: 10%;">Conferma password:</label>
          <input type="password" style="margin: 0 5px; " [(ngModel)]="newUser.passwordCheck" name="registerConfirmPassword">
        </div>

      </form>
      <button mat-flat-button style="margin-top: 12%; color: rgb(3, 90, 3);" [disabled]="!isRegistrationFormValid()" (click)="signUp()">Registrati</button>
      <button mat-flat-button style="margin-top: 12%;" (click)="flipCard()">Passa all'accesso</button>
    </div>
  </div>
</div>

<!--<div class="container-wrapper">
  <div class="container" style="background-color: greenyellow;">
    <div class="input-field">
      <div class="form-group">
        <label for="loginuser">Username:</label>
        <input type="email" [(ngModel)]="login.email" id="loginuser" name="loginuser">
      </div>

      <div class="form-group">
        <label for="loginPass">Password:</label>
        <input type="password" [(ngModel)]="login.password" id="loginPass" name="loginPass">
      </div>


      <button class="button" style="background-color: darkred;" (click)="logIn()">Login</button>
    </div>
  </div>

  <div class="container">
    <p></p>
    <p>Non sei registrato? E moviti ja</p>
    <button class="button" style="background-color: darkblue;"  [routerLink]="['/singin']">Registrati</button>
  </div>
</div>-->
