<div>
  <div>
    <img style=" max-height: 180px;"  [src]="'https://localhost:8010/vintedProject-api/v1/images/{{item.imagepath}}' ||'assets/resources/vestito.jpg'"  (click)="onImageClick()" (mouseenter)="isHovered = true" (mouseleave)="isHovered = false">
  </div>
  <div style="padding-left: 2%;" (click)="onImageClick()" >>
    <div class="product-card">
      <!-- Visualizza i dettagli del prodotto -->
      <h2>{{ item?.title }}</h2>
      <p style="max-width: 250px">{{ item?.description }}</p>
      <p>Prezzo: {{ item?.price }}</p>
    </div>
  </div>
</div>
