<div class="main-container">
  <div class="image-container">
    <img class="productImage" [src]="insertion?.imageName ? 'https://localhost:8010/vintedProject-api/v1/images/' + insertion?.imageName : 'assets/resources/vestito.jpg'"  (click)="openModal()">
  </div>

  <div class="info-container">
    <div class="infoContainer">
      <div style="width: 100%">
        <h1>{{ insertion?.title }}</h1>
        <p>

          <strong> Categoria: </strong> {{ insertion?.category}} <br>
          <strong>  Brand:  </strong> {{ insertion?.brand}} <br>
          <strong>  Descrizione:  </strong> {{insertion?.description}}<br>


        </p>
      </div>
    </div>
    <div class="priceContainer">
      <p>
        <br>
        <strong> Prezzo:  </strong> {{ insertion?.price }}€ <br>
        <br>
         La spedizione sono cazzi tuoi
      </p>
    </div>
    <div class="button-container">
      <button class="btn buy-button" *ngIf="!isProductInCart && !isMyProduct" (click)="addToCart()">Acquista</button>
      <p class="btn buy-button disabled" style="text-align: center; color: black" *ngIf="isProductInCart">Prodotto nel carrello</p>
      <button class="btn second-button" *ngIf="!isProductInCart && !isMyProduct">Fai un'offerta</button>
      <button class="btn second-button" *ngIf="!isProductInCart && !isMyProduct">Contatta il venditore</button>
    </div>
    <div class="image-thumbnails">
      <div *ngFor="let image of insertion?.imageName" class="thumbnail" (click)="openModal()">
        <img [src]="image" alt="Thumbnail">
      </div>
    </div>
  </div>
</div>
<div class="userContainer" >
  <div style="width: 100%;">
    <h2>Altri post di {{user?.firstName}}</h2>
    <div class="card-container">
      <div class="card-row">
        <div *ngFor="let item of userOtherInsertion?.content" class="card-item">
          <div class="user-insertion-card">
            <div class="card-row" style="margin: 20px">
            <app-profile-card [user]="getUserByUserId(item.userId)" [userId]="item.userId" [insertion]="item"></app-profile-card>
           </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-secondary" style="width: 300px; min-width: 200px" [routerLink]="['/profile', this.user?.id]">Vedi tutti i prodotti</button>
    </div>
  </div>
</div>
<div style="height: 20px"></div>

<!-- Finestra modale -->
<div class="modal" *ngIf="modalOpen" (click)="closeModal()">
  <span class="close" (click)="closeModal()">&times;</span>
  <img [src]="modalImage ? 'https://localhost:8010/vintedProject-api/v1/images/' + modalImage : 'assets/resources/vestito.jpg'" alt="Modal Image">
</div>
