<div class="main-container">
  <div class="image-container">
    <img class="productImage" [src]="'https://localhost:8010/vintedProject-api/v1/images/{{insertion?.imageName}}' || 'assets/resources/vestito.jpg'">
  </div>

  <div class="info-container">
    <div class="infoContainer">
      <div style="width: 100%">
        <h1>{{ insertion?.title }}</h1>
        <p>
          <strong>
            Categoria {{ insertion?.category}} <br>
            Brand {{ insertion?.brand}} <br>
          </strong>
        </p>
      </div>
    </div>
    <div class="priceContainer">
      <p>
        <br>
        Prezzo: {{ insertion?.price }}€ <br>
        <br>
        5€ include la Protezione acquisti
      </p>
    </div>
    <div class="button-container">
      <button class="btn buy-button" *ngIf="!isProductInCart" (click)="addToCart()">Acquista</button>
      <p class="btn buy-button disabled" style="text-align: center; color: black" *ngIf="isProductInCart">Prodotto nel carrello</p>
      <button class="btn second-button">Fai un'offerta</button>
      <button class="btn second-button">Contatta il venditore</button>
    </div>
    <div class="image-thumbnails">
      <div *ngFor="let image of insertion?.imageName" class="thumbnail" (click)="openModal(image)">
        <img [src]="image" alt="Thumbnail">
      </div>
    </div>
  </div>
</div>
<div class="userContainer">
  <div style="width: 100%;">
    <p>qui dentro vanno i post dell'utente</p>
    <div class="card-container">
      <div class="card-row">
        <div *ngFor="let item of userOtherInsertion?.content" class="card-item">
          <div class="user-insertion-card">
            <div class="user-image-container">
              <img class="user-image" [src]="user?.imageName ||  'assets/resources/vestito.jpg' " alt="User Image">
            </div>
            <app-product-card [item]="item"></app-product-card>
          </div>
        </div>
        <button type="button" class="btn btn-secondary" style="width: 300px; min-width: 200px"  [routerLink]="['/profile', this.user?.id]">Vedi tutti i prodotti</button>
      </div>
    </div>
  </div>
</div>
<div style="height: 20px"></div>

<!-- Finestra modale -->
<div class="modal" *ngIf="modalOpen">
  <span class="close" (click)="closeModal()">&times;</span>
  <img [src]="modalImage || 'assets/resources/vestito.jpg'" alt="Modal Image">
</div>
