.container-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:80%;
  height: auto;
  border-right: 1px solid #ccc;
  padding: 16px;
}

.container:last-child {
  border-right: none;
}

.input-field {
  margin-bottom: 16px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.form-group label {
  width: 100px;
  margin-right: 16px;
}

.form-group input {
  flex: 1;
}

.button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}
