<div class="container-wrapper">
  <div class="container">
    <div class="input-field">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" [(ngModel)]="newUser.nickName" id="username" name="username">
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" [(ngModel)]="newUser.email" id="email" name="email">
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" [(ngModel)]="newUser.password" id="password" name="password">
      </div>


      <div class="form-group">
        <label for="password">Reinserisci la password:</label>
        <input type="password" [(ngModel)]="newUser.passwordCheck" id="loginPassceck" name="loginPass">
      </div>

      <div *ngIf="!passwordsMatch" style="color: red;">Le password non corrispondono</div>
      <button class="button" style="background-color: darkblue;" (click)="signUp()">Registrati </button>
    </div>
  </div>
</div>
