<div>
  <div>
    <img style=" max-height: 180px;" [src]="item?.imageName ? 'https://localhost:8010/vintedProject-api/v1/images/' + item?.imageName : 'assets/resources/vestito.jpg'" z (click)="onImageClick()" (mouseenter)="isHovered = true" (mouseleave)="isHovered = false">
  </div>
  <div style="padding-left: 2%;">
    <div class="product-card">
      <!-- Visualizza i dettagli del prodotto -->
      <h2>{{ item?.title }}</h2>
      <p style="max-width: 250px">{{ item?.description }}</p>
      <p>Prezzo: {{ item?.price }}€</p>
    </div>
  </div>
  <button class="button remove-button" (click)="remove(item?.id)">Rimuovi</button>

</div>
