<div class="profile-page">
  <div class="profile-header">
    <div class="profile-picture">
      <img [src]="user?.imageName ? 'https://localhost:8010/vintedProject-api/v1/images/' + user?.imageName : 'assets/resources/vestito.jpg'" alt="Profile Picture" class="round-image">
    </div>
    <div class="profile-info">
      <h1>Informazioni personali:</h1>
      <p>Nome: {{ user?.firstName }}</p>
      <p>Cognome: {{ user?.lastName }}</p>
      <p>Email: {{ user?.email }}</p>
      <p>Indirizzo: {{ user?.addressStreet}}, {{ user?.addressNumber }}</p>
      <p> {{ user?.addressCity }} , {{ user?.addressCap }}</p>
      <p> {{ user?.addressState }}</p>
    </div>
    <button mat-raised-button class="button" style="margin-left: 25%" [routerLink]="['/myprofile']" (click)="showUpdateSection()">Modifica informazioni</button>
  </div>
  <app-profile-edit *ngIf="showUpdateSectionFlag" [user]="user" (updatePassword)="updatePassword($event)" (updateNickname)="updateNickname($event)"></app-profile-edit>



    <div class="body-content" style="margin-top: 30px">
      <div style="max-height: 700px;">
        <div class="header">
          <h2 class="font">Le mie inserzioni</h2>
          <button class="showAll-button"  (click)="openInsertionModal()">Vedi tutte</button>
        </div>

          <div class="body-content" style="margin-top: 30px"  *ngIf="isAnyInsertion">
            <div class="card-container">
              <div class="card-row">
                <ng-container *ngFor="let item of myInsertion?.content; let i = index;">
                  <app-profile-card [user]="user" [userId]="item.userId" [insertion]="item" class="card-item"></app-profile-card>
                  <ng-container *ngIf="(i + 1) % 5 === 0" class="clearfix"></ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="body-content" style="margin-top: 30px" *ngIf="isAnyOffer">
      <div style="max-height: 700px;">
        <div class="header">
          <h2 class="font">Le mie offerte</h2>
          <button class="showAll-button" (click)="openOfferModal()">Vedi tutti</button>
        </div>
        <div style="margin: 15%"> </div>
      <div class="card-container">
        <div class="card-row">
          <ng-container *ngFor="let item of myOffer; let i = index;">
            <app-offer-profile-card [offer]="item"  class="card-item"></app-offer-profile-card>
            <ng-container *ngIf="(i + 1) % 5 === 0" class="clearfix"></ng-container>
          </ng-container>
        </div>
      </div>
    </div>




  <div class="body-content" style="margin-top: 30px" *ngIf="isAnyOrder">
        <div style="max-height: 700px;">
          <div class="header">
            <h2 class="font">I mie ordini</h2>
            <button class="showAll-button" (click)="openOrderModal()" >Vedi tutti</button>
          </div>
          <div style="margin: 15%"> </div>
          <div class="card-container">
            <div class="card-row" >
              <ng-container *ngFor="let item of myOrder.content!; let i = index;">
                <app-order-card [order]="item" class="card-item"></app-order-card>
                <ng-container *ngIf="(i + 1) % 5 === 0" class="clearfix"></ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<!-- Finestra modale inserzioni -->
<div class="insertion-modal" *ngIf="InsertionModal" (click)="closeInsertionModal($event)">
  <div class="content" style="margin-top: 30px">
    <div style="max-height: 700px;">
      <div class="header">
        <h2 class="font">Le mie inserzioni:</h2>
      </div>
      <div class="body-content" style="margin-top: 30px; display: flex"  *ngIf="isAnyInsertion">
        <div class="card-container">
          <div class="card-row" >
            <ng-container *ngFor="let item of myInsertion?.content; let i = index;">
              <app-profile-card [user]="user" [userId]="item.userId" [insertion]="item" class="card-item"></app-profile-card>
              <ng-container *ngIf="(i + 1) % 5 === 0" class="clearfix"></ng-container>
            </ng-container>
          </div>
        </div>
      </div>
      <button class="button showAll-button" (click)="addPageInsertion()" > Carica altro</button>
    </div>
  </div>
</div>


<!-- Finestra modale offerte -->
<div class="offer-modal" *ngIf="OfferModal" (click)="closeOfferModal($event)">

</div>

<!-- Finestra modale ordini -->
<div class="order-modal" *ngIf="OrderModal" (click)="closeOrderModal($event)">
  <div class="content" style="margin-top: 30px">
    <div style="max-height: 700px;">
      <div class="header">
        <h2 class="font">Le mie inserzioni:</h2>
      </div>
      <div class="body-content" style="margin-top: 30px; display: flex"  *ngIf="isAnyOrder">


      </div>
      <button class="button showAll-button" (click)="addPageInsertion()" > Carica altro</button>
    </div>
  </div>
</div>

