<div class="profile-page">
  <div class="profile-header">
    <div class="profile-picture">
      <img [src]="user?.imageName ? 'https://localhost:8010/vintedProject-api/v1/images/' + user?.imageName : 'assets/resources/vestito.jpg'" alt="Profile Picture" class="round-image">
    </div>
    <div class="profile-info">
      <h1>Informazioni personali:</h1>
      <p>Nome: {{ user?.firstName }}</p>
      <p>Cognome: {{ user?.lastName }}</p>
      <p>Email: {{ user?.email }}</p>
      <p>Indirizzo: {{ user?.addressStreet}}, {{ user?.addressNumber }}</p>
      <p> {{ user?.addressCity }} , {{ user?.addressCap }}</p>
      <p> {{ user?.addressState }}</p>
    </div>
    <button mat-raised-button class="button" style="margin-left: 25%" [routerLink]="['/myprofile']" (click)="showUpdateSection()">Modifica informazioni</button>
  </div>
  <app-profile-edit *ngIf="showUpdateSectionFlag" [user]="user" (updatePassword)="updatePassword($event)" (updateNickname)="updateNickname($event)"></app-profile-edit>


  <div class="insertion-container" *ngIf="isAnyInsertion">
    <div class="body-content" style="margin-top: 30px">
      <div style="max-height: 700px;">
        <div class="header">
          <h2 class="font">Le mie inserzioni</h2>
          <button class="showAll-button" [routerLink]="['/catalog']">Vedi tutte</button>
        </div>
        <div class="card-container">
          <div class="card-row" >
            <div *ngFor="let item of myInsertion?.content" class="card-item">
              <app-product-card [item]="item"></app-product-card>
            </div>
            <button type="button" class="btn btn-secondary" style="height: 300px; min-width: 25%; min-height: 30%"  [routerLink]="['/catalog']">Vedi tutte</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="insertion-container" *ngIf="isAnyOrder">
    <div class="body-content" style="margin-top: 30px">
      <div style="max-height: 700px;">
        <div class="header">
          <h2 class="font">I mie ordini</h2>
          <button class="showAll-button" [routerLink]="['/catalog']">Vedi tutti</button>
        </div>
        <div class="card-container">
          <div class="card-row" >
            <div *ngFor="let item of myOrder?.content" class="card-item">
              <app-order-card [item]="item"></app-order-card>
            </div>
            <button type="button" class="btn btn-secondary" style="height: 300px; min-width: 25%; min-height: 30%"  [routerLink]="['/catalog']">Vedi tutti</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
