<div class="profile-page">
  <div class="profile-header">
    <div class="profile-picture">
      <img [src]="user?.photo ||  'assets/resources/vestito.jpg' " alt="Profile Picture" class="round-image">
    </div>
    <div class="profile-info">
      <h1>Nome Utente</h1>
      <p>Nome: {{ user?.firstName }}</p>
      <p>Cognome: {{ user?.lastName }}</p>
      <p>Email: {{ user?.email }}</p>
      <p>Data di nascita: {{ user?.birthDate }}</p>
      <!--Altre informazioni utente qui -->
    </div>
    <button mat-raised-button class="button"  style="margin-left: 25%" [routerLink]="['/myprofile']" >Modifica informazioni</button>
  </div>

  <div class="other-insertions-container">
    <h2>Le mie inserzioni:</h2>
    <div class="insertion-container" *ngIf="userInsertion">
      <div class="insertion-card" *ngFor="let insertion of userInsertion?.content">
        <app-product-card [item]="insertion"></app-product-card>
      </div>
    </div>
  </div>
</div>
