<div class="insertion-container" *ngIf="cartProduct">
  <div class="body-content" style="margin-top: 30px">
    <div class="card-container">
      <div class="card-row">
        <ng-container *ngFor="let item of cartProduct; let i = index;">
          <app-cart-insertion-card [item]="item" class="card-item"></app-cart-insertion-card>
        </ng-container>
      </div>
    </div>
    <div class="button-container">
      <button class="button" (click)="createOrder()" >Acquista</button>
    </div>
  </div>
</div>
