img {
  cursor: pointer;
}

.rounded-image {
  height: 180px;
  max-width: 250px;
  margin: 5px;
  border-radius: 10px;
}


.product-card {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 30%;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.content-container {
  flex: 1;
}

.title {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.description {
  width: 100%;
  margin-bottom: 10px;
}

.price-container {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.price {
  font-size: 14px;
  font-weight: bold;
}
