<div class="product-card">
  <div class="image-container">
    <img class="rounded-image" [src]="imageName" (click)="onImageClick()" (mouseenter)="isHovered = true" (mouseleave)="isHovered = false">
    <button *ngIf="item?.isPrivate && item?.userId==myid" style="display: flex; bottom: 2px; margin: 5px" (click)="share()" >Condividi con codice privato</button>
    <button *ngIf="item?.userId==myid" style="display: flex; bottom: 2px; margin: 5px" (click)="openOfferModal()" > Visualizza offerte</button>

  </div>
  <div class="content-container" (click)="onImageClick()">
    <h2 class="title">{{ item?.title }}</h2>
    <p class="description">{{ item?.description }}</p>
  </div>
  <div class="price-container">
    <p class="price">Prezzo: {{ item?.price }}€</p>
  </div>
</div>

<div class="offer-message-modal" *ngIf="offerModalOpen" (click)="closeOfferModal($event)">
  <div class="offer">
    <h2 style="color: black">Lista delle offerte per l'inserzione "{{item?.title}}":</h2>
    <div class="offer-list" *ngIf="offers">
      <div class="offer-column" *ngFor="let offer of offers; let i = index">
        <div class="offer-item">
          <div class="offer-details">
            <p style="color: black">Stato offerta: {{offer.status}}</p>
            <p style="color: black">Prezzo offerto: {{offer.price}}€</p>
            <div class="offer-buttons">
              <button class="btn" (click)="acceptOffer()" >ACCETTA</button>
              <button class="btn" (click)="deleteOffer(i)">RIFIUTA</button>
            </div>
          </div>
        </div>
        <div *ngIf="(i + 1) % 3 === 0 || i === offers.length - 1" class="clearfix"></div>
      </div>
    </div>

    <!-- Show message if there are no offers -->
    <p *ngIf="offers && offers.length === 0" style="color: black">Non ci sono ancora offerte per questo prodotto.</p>

    <h3 style="color: black">Prezzo originale: {{item?.price}}€</h3>
    <button class="btn" (click)="closeOfferModal($event)">Annulla</button>
    <h4 style="color: red">Attenzione, accettando un'offerta le altre verranno rifiutate automaticamente.</h4>
  </div>
</div>


