img {
  cursor: pointer;
}

.rounded-image {
  height: 30px;
  width: 30px;
  border-radius: 50%; /* This will make the image circular */
}

.profile-card {
  background-color: #f1f1f1; /* Adjust the color as needed */
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column; /* Make the elements stack vertically */
  align-items: flex-start; /* Align items to the left (start) */
}

/* Add some space between the image and the name */
.profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Add some space after the image */
.profile-info img {
  margin-right: 10px;
}

/* Style the name */
.profile-info .name {
  font-weight: bold;
}
