<div class="main-container">
    <div class="image-container">
        <img src="assets/resources/vestito.jpg">
    </div>

    <div class="info-container">
        <div style="height: 20%;">
            <p>
                Prezzo: 5€ <br>
                5,50€ include la Protezione acquisti 
            </p>
        </div>
        <div style="height: 80%;">
            <div style= "width: 50%;">
                <p>
                    <strong>
                        BRAND <br>
                        TAGLIA <br>
                        CONDIZIONI <br>
                        COLORE <br>
                    </strong>       
                </p>
            </div>
            <div style= "width: 50%;">
                <p>
                    <strong>
                        ZARA <br>
                        S <br>
                        NUOVO <br>
                        FATTI I CAZZI TUOI <br>
                    </strong>  
                </p>
            </div>
        </div>
    </div>
</div>
