.main-container{
  display: flex;
}

.image-container{
  display: flex;
  width: 70%;
  height: auto;
  justify-content: center; /* Centra orizzontalmente */
  align-items: center; /* Centra verticalmente */
}

.info-container{
  width: 30%;
  height: auto;
}

.productImage{
  width: 50%;
  height: auto;
}

.priceContainer{
  height: 25%;
}

.infoContainer{
  display: flex;
  height: 75%;
}
