.main-container{
  margin:50px;
  display: flex;
}

.image-container{
  display: flex;
  width: 1000px;
  max-height: 1000px;
  justify-content: center; /* Centra orizzontalmente */
  align-items: center; /* Centra verticalmente */
}

.info-container{
  margin:50px;
  width: 30%;
  height: auto;
}

.productImage{
  width: 50%;
  height: auto;
}

.priceContainer{
  height: 25%;
}

.infoContainer{
  display: flex;
  height: 75%;
}
