<div class="image-container">
  <img style="width: 100%; height: 550px;" src="assets/resources/imageProva.jpg">
  <div class="cardOver">
    <mat-card>
      <img mat-card-img src="assets/resources/CardOverlay.png">
      <button mat-stroked-button style="background-color: lightblue;">CREA INSERZIONE</button>
    </mat-card>
  </div>
</div>
<div class="insertion-container" >
<app-product-card ></app-product-card>
<app-product-card ></app-product-card>
<app-product-card ></app-product-card>
<app-product-card ></app-product-card>
<app-product-card ></app-product-card>
<app-product-card ></app-product-card>
<app-product-card ></app-product-card>
<app-product-card ></app-product-card>
<app-product-card ></app-product-card>
<app-product-card ></app-product-card>

</div>
